go 1.18

use (
	./01_hello
	./02_variable
	./03_user_input
	./04_conversion
	./05_time_and_date
	./06_pointers
	./07_array
	./08_silces
	./09_maps
	./10_struct
	./11_if_else
	./12_switch
	./13_loops
	./14_functions
	./15_methods
	./16_defer
	./17_files
)
